.main_div {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
  background-color: #f0f4f8;
}

.main_content {
  text-align: center;
  background-color: white;
  padding: 2rem;
  border-radius: 1rem;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  width: 90%;
}

h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  color: #333;
}

h2 {
  font-size: 1.8rem;
  color: #555;
}

.limitMessage {
  color: red;
  font-weight: bold;
  margin-top: 1rem;
}
.congratsMessage {
  color: green;
  font-weight: bold;
  font-size: 1.1rem;
  margin-top: 1rem;
}

.buttonContainer {
  margin-top: 1.5rem;
  display: flex;
  justify-content: space-evenly;
  /* flex-direction: column; */
}

button {
  margin: 0.3rem 0.5rem;
  padding: 0.7rem 1.2rem;
  font-size: 1rem;
  border: none;
  border-radius: 0.5rem;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover:not(:disabled) {
  background-color: #0056b3;
}

button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}
